{% extends "base.html" %}
{% block title %}
<html>
    <link rel="stylesheet" href="style.css">
    <h1>
        Index PAGE
    </h1>
{% endblock %}

{% block content %}
<body>
   <div>
    <a href="add">        
        <button type="button" class="btn btn-primary">
            add a Thought
        </button>
    </a>
    
    <a href="view">
    <button type="button" class="btn btn-success">
        View Thoughts
    </button>
    </a>
    
    <button type="button" class="btn btn-warning">
    Get Random
    </button>
    </div>
</body>
{% endblock %}
</html>